* {
  margin: 0;
  padding: 0;
}

#loading-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease;
  z-index: 1000;
}

#loading-screen #start-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 69px;
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  font-family: 'Montserrat', sans-serif; /* Add Montserrat here */
}

#loading-screen #start-button:hover {
  background-color: #333; /* Slightly lighter black for hover effect */
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
